	.footer{height:100px;width:1366px;background-color: #464646;}
	.we li{float:left;list-style:none;font-size: 15px;margin-right:40px;color: white;}
	.we a{text-decoration: none;color:white;}
	.we{margin-left:260px;padding-top: 15px;margin-bottom:45px; }
	#co{clear:both;margin-left:300px;}