body{overflow-x:hidden; }
.header{margin:0 auto;height: 350px;width: 1360px;background-image: url(../images/bgus.png);padding-top:30px;background-size: 100% 100%;}
#logo{height: 158px;width: 333px;margin: 0 auto;}
#paokai{height:34px;width:298px;margin-left: 680px;margin-top: 30px;}
#edu{height:22;width:301;margin: 30px 0 30px 750px;}
#arrowxia{margin: 0 auto;width: 85px;height: 37px;}